* {
  background-color: deepskyblue;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#yourWeatherForcast {
  position: relative;
  margin-top: 3%;
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
}

form {
  text-align: center;
  margin-top: 3%;
  margin-left: 40%;
  height: 100px;
  width: 20%;
  margin-bottom: 2%;
}

input {
  background-color: aliceblue;
  width: 60%;
  height: 40%;
  margin-bottom: 5%;
  font-size: larger;
  border-width: 5px;
}

button {
  background-color: aliceblue;
  height: 40%;
  width: 40%;
  border-width: 3px;
  font-weight: bolder;
  font-size: large;
}

#weatherSection {
  position: relative;
  text-align: center;

}

h1 {
  display: block;
  position: relative;
}

#searchHistory {
  text-align: center;
  display: inline-block;
  position: relative;
  border-width: 5px;
  border-style: dashed;
  left: 2%;
  height: 500px;
  width: 15%;
}

#weatherSection {
  position: absolute;
  height: 20%;
  top: 29%;
  right: 36%;
  width: 25%;
  
}

#weatherSection h2 {
  width: 50%;
  margin-top: 0%;
  position: relative;
  left: 23%;
  font-size: xx-large;
  font-weight: 800;
  text-decoration: underline;
}

#weatherSection h1 {
  display: inline;
  position: relative;
  right: 1%;
}

ul {
  list-style-type: none;
  margin-top: 4%;
  font-size: xx-large;
  
}

#weatherSection div ul li {
  display: list-item;
  font-weight: bold;
}

#weeksWeather {
  position: absolute;
  height: 48%;
  width: 80%;
  left: 18%;
  top: 50%;
  border-width: 4px 0 0 0;
  border-style: dotted;
  display: flex;
  flex-direction: row;
}

#weeksWeather div{
  position: relative;
  top: 19%;
  width: 17%;
  height: 80%;
  margin-left: 3%;
  border-style: groove;
}

#weeksWeather h2 {
  display: inline;
  position: absolute;
right: 47%;
width: 20%;
margin-top: 1%;
font-size: xx-large;
text-decoration: underline;
}