*{
  text-align: center;
}
body {

}

#weeksWeather div ul li{
  text-align: left;
  list-style-type: none;
}

#weatherSection ul li {
  list-style-type: none;

}

#search{
  position: absolute;
  display: inline-block;
  width: 20%;
  left :6%;
  top: 5%;
  height: 50%;
  border-top-width: 2px;
  border-style: groove;
  text-align: center;
}

#searchHistoryButton button {
 align-items: end;
  width: 90%;
  margin: 1% 50% 0 0;
}

#search li {
  list-style-type: none;
}

#Today {
display: inline-block;
width: 25%;
position: relative;
height: 100%;
margin-top: 2%;
margin-bottom: 5%;
}

h2 {
  margin-bottom: 5%;
}


#weeksWeather {
  position: relative;
  margin-top: 5%;
}
