* {
  font-family: 'Courier New', Courier, monospace;
  background-color: skyblue;
}

h1 {
  position: relative;
  top: 35px;
  font-size: xx-large;
  font-weight: bolder;
}

main {
  text-align: center;
  color: black;
}

form button{
  margin-top: 10%;
  height: 35px;
  width: 100px;
  background-color: beige;
}

form input{
  height: 25px;
  background-color: beige;
}

form {
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin-top: 7%;

  width: 40%;
  background-color: black;
}


#todays-weather {
  background-color: black;
  height: 5%;
  width: 5%;
}